.reset_page_style,
.reset_page_style * {
    outline:0;
    color: inherit;
    font-size: inherit;
}

.flex_page_style,
.flex_page_style * {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.button {

}

.main_page_body {
    flex-direction: column;
}

.main_page_body_topbar {
    flex: 0 1 50px;
    background: gray;
    flex-direction: row;
}

.main_page_body_topbar .tabbable_button {
    flex: 0 1 100px;
    justify-content: center;
}

.main_content {
    background: gray;
    flex-direction: row;
}

.main_sidebar_content {
    flex: 0 1 170px;
    background: black;
}

.input_cont {
    white-space: nowrap;
    align-items: center;
    flex-direction: row;
}

.tabbable_content {
    display: none;
    width: 100%;
    height: 100%;
}

.tabbable_button {
    align-items: center;
    padding: 4px;
    flex: 0 1 auto;
    user-select: none;
}

.tabbable_selected {
    display: flex;
}

.button_theme {
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    padding: 15px;
    line-height: 25px;
    align-self: center;
}

.styled_select {
    user-select: none;
    background: white;
    position: relative;
    flex: 0 1 25px;
    --styled_select_background: white;
    --styled_select_border_color: black;
    --styled_select_border_size: 1px;
    --styled_select_chevron_color: var(--styled_select_border_color);
    --styled_select_chevron_size: 25px;
    --styled_select_list_item_hover_background: rgb(190, 190, 255);
    padding: 3px;
    border: var(--styled_select_border_size) solid var(--styled_select_border_color);
}

.styled_select:hover {
    --styled_select_border_color: rgb(100,100,100);
}

.styled_select:active {
    --styled_select_border_color: rgb(70,70,70);
}

.styled_select:focus {
    --styled_select_border_color: rgb(70,70,255);
}

.styled_select_chevron {
    background: white;
    width: var(--styled_select_chevron_size);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 3px;
    padding-right: 3px;
    border-left: calc(var(--styled_select_border_size) * 2) solid var(--styled_select_border_color);
}

.styled_select_chevron svg {
    height: 100%;
    stroke: var(--styled_select_chevron_color);
    stroke-width: 20px;
}

.styled_select_list {
    max-height: 250px;
    width: calc(100%  - var(--styled_select_chevron_size));
    position: absolute;
    left: 0;
    background: var(--styled_select_background);
    border: var(--styled_select_border_size) solid var(--styled_select_border_color);
}

.styled_select_list .virtual_list_item.selected {
    background: var(--styled_select_list_item_hover_background);
}

.virtual_list > * {
    height: 0;
    overflow: auto;
}

.styled_select_list > * {
    height: auto;
}

.virtual_list_item {
    justify-content: center;
    width: 100%;
    height: 24px;
}

.virtual_list_header {
    flex: 0 1 auto;
    height: 25px;
    overflow-x: hidden;
}

.virtual_list_header > * > * {
    padding: 0 5px;
}

.virtual_list > .virtual_list_item {
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

.virtual_list_body {
    flex: 1 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content_editable {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.styled_upload_input {
    position: relative;
}

.styled_upload_input input {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.styled_upload_input label {
    flex: 0;
    background: var(--styled_upload_input_background);
}

.upload_area {
    position: relative;
    margin: 50px;
    margin-top: 0;
    background: var(--upload_area_background);
}

.upload_area_child {
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 15px;
    left: 15px;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    border: 5px dashed rgba(255,255,255,0.3);
    pointer-events: none;
}

.upload_area.dropped .upload_area_child {
    display: none;
}

.row:not(.header) .cell > * {
    width: 100%;
}
